@import url("http://fonts.cdnfonts.com/css/century-gothic");
footer {
  overflow: auto; }
  footer.black {
    background-color: #000;
    color: #fff; }
    footer.black a {
      text-decoration: none; }

footer.black a,
footer.black span {
  color: #fff; }

.footer_menu {
  display: block;
  clear: both;
  box-sizing: border-box;
  padding-left: 21px;
  padding-right: 21px; }

.footer_menu_title {
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  line-height: 18.39px;
  padding-top: 14px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 25px;
  cursor: pointer; }
  .footer_menu_title.inactive {
    background-image: url("../images/footer_menu_inactive.png"); }
  .footer_menu_title.active {
    background-image: url("../images/footer_menu_active.png"); }

.footer_menu_links {
  display: none; }
  .footer_menu_links a {
    display: block;
    font-size: 14px;
    line-height: 36px; }

.footer_social_link {
  margin: 27px 22px 19px 0; }

.footer_interactive {
  float: left;
  width: 100%; }

.newsletter {
  margin-bottom: 32px;
  border-bottom: 1px solid white;
  padding-bottom: 17px; }
  .newsletter input[type=email] {
    width: 65%;
    background-color: #000;
    color: #fff;
    font-size: 22px;
    border: 0;
    outline: 0; }
  .newsletter input[type=email]:focus {
    border: none;
    outline: none !important; }
  .newsletter input[type=submit] {
    background-color: #000;
    color: #fff;
    width: 30%;
    font-size: 22px;
    border: none;
    cursor: pointer; }

.form_error {
  display: none; }

.footer_copy {
  clear: both;
  padding: 40px 0 60px 23px;
  background-color: #000;
  color: #fff; }
  .footer_copy a {
    color: #fff; }

.footer_copy_text {
  padding: 20px 0 20px; }

@media (min-width: 750px) {
  .category {
    width: 50%;
    float: left;
    height: 530px;
    background-position: center;
    border: 2px solid white;
    box-sizing: border-box; }
    .category a {
      cursor: pointer;
      height: 100%; }
  .category_arrow {
    position: relative;
    right: auto;
    top: auto; }
  footer {
    overflow: auto; }
  .footer_menu {
    float: left;
    margin-left: 3%;
    clear: none; }
  .footer_menu_title.inactive,
  .footer_menu_title.active {
    background-image: none;
    cursor: default; }
  .footer_menu_links {
    display: block; }
  .footer_interactive {
    width: 30%;
    float: right; } }
